<h3>スケジュール管理</h3>

<table>
     <tr>
        <th>タイトル</th>
        <td><%= @event.title%></td>
     </tr>
     <tr>
        <th>開始日</th>
        <td><%= @event.start_date.strftime("%Y年 %m月%d日") %></td>
     </tr>
     <tr>
        <th>終了日</th>
        <td><%= @event.end_date.strftime("%Y年 %m月%d日") %></td>
     </tr>
     <tr>
        <th>終日</th>
        <td>
            <% if @event.all_day == true %>
            ◯
            <% else %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @event.memo %></td>
    </tr>
</table>

<p><%= link_to("スケジュール一覧に戻る",:events) %></p>
<p><%= link_to("スケジュールを編集する",[:edit,@event]) %></p>
<p><%= link_to("スケジュールを削除",@event,method: :delete,data:{confirm:"本当に削除しますか?"}) %></p>